pkgbase = timely-bin
	pkgdesc = Private personal planning, scheduling, and notes (prebuilt AppImage)
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/thalhath2234/timely-app
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = libnotify
	depends = xdg-utils
	provides = timely
	conflicts = timely
	noextract = Timely-0.1.2-linux-x86_64.AppImage
	options = !strip
	options = !debug
	source = Timely-0.1.2-linux-x86_64.AppImage::https://github.com/thalhath2234/timely-app/releases/download/v0.1.2/Timely-0.1.2-linux-x86_64.AppImage
	source = LICENSE-84d57b740eb61625755d9be286a154528190808c::https://raw.githubusercontent.com/thalhath2234/timely-app/84d57b740eb61625755d9be286a154528190808c/LICENSE
	sha256sums = 5b6db20d2569650837b48ac507d57536476fa50305d31c7c21d6b1cc844d5338
	sha256sums = d188c1d24bd091d0be11ea5fc1d0a6c1751b5584370bc8a2ff85673cb2a1ec60

pkgname = timely-bin
